{
  "swagger": "2.0",
  "info": {
    "title": "GetPresenceConnector",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/communications/getPresencesByUserId": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetUsersPresences",
        "description": "GetUsersPresences",
        "operationId": "GetUsersPresences",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "ids"
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/communications/presences/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetUserPresence",
        "description": "GetUserPresence",
        "operationId": "GetUserPresence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ],
  "tags": []
}